/* Definición de colores con variables css :custom property */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

/* Fin Definición de colores con seudoselectores */


/* Hack para utilizar REM decuenta de PX */
html {
    font-size: 62.5%;
}

body {
    /* 1rem = 10px */
    font-size: 16px;

    /* Fuente global */
    font-family: 'Krub', sans-serif;
}

/* Fin Hack para utilizar REM decuenta de PX */

/* Css para freelancer */
.titulo {
    text-align: center;
    font-size: 2rem;
    color: var(--primario);
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    /* Propiedad para centrar columnas
       flex-direction: column;
       align-items: center;
     */
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
}