/* Definición de colores con variables css :custom property */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

/* Fin Definición de colores con seudoselectores */


/* Hack para utilizar REM decuenta de PX */
html {
    font-size: 62.5;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
}

/* Fin Hack para utilizar REM decuenta de PX */

/* Css para freelancer */
.titulo {
    text-align: center;
    font-size: 2rem;
    color: var(--primario);
}